// @import '~antd/es/style/variable.less';

html,
body,
#root {
  height: 100%;
  background-color: #1c1d22 !important;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 60vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

.ant-typography {
  color: #ffffff;
}

.ant-pro-top-nav-header-main {
  background-color: #1c1d22;
  border-bottom: 2px solid #7b7b7e;
}

.ant-layout {
  background-color: #1c1d22 !important;
}

.ant-pro-footer-bar {
  background-color: #1c1d22 !important;
  border-top: 2px solid #7b7b7e !important;
  // min-height: 10vh ;
}

.p-16 {
  font-size: 16px;
}

.p-13 {
  font-size: 13px;
}

.p-12 {
  font-size: 12px;
}

.mtb-25 {
  margin-top: 25px;
}

.grid-padding {
  padding: 10px 25px;
}

.text-center {
  text-align: center;
}

.br-t {
  border-top: 2px solid #7b7b7e;
}

.br-l {
  border-left: 2px solid #7b7b7e;
}

.br-r {
  border-right: 2px solid #7b7b7e;
}

.br-b {
  border-bottom: 2px solid #7b7b7e;
}

.pd-0 {
  padding: 0px !important;
}

.pd-5 {
  padding: 5px !important;
}

.pd-5-10 {
  padding: 5px 12px !important;
}

.pd-25 {
  padding: 25px;
}

.tx-align {
  text-align: center !important;
}

.grid-display {
  display: grid;
}

.batcher-token {
  background-color: #7b7b7e;
  .ant-input {
    background-color: #7b7b7e;
  }
}

.batcher-time-gap {
  padding: 10px;
  background-color: red;
}

.batcher-time-difference {
  padding: 25px;
  border: 2px solid #7b7b7e;
}

.mr-c {
  margin: auto 0;
}
.batcher-table {
  .ant-table {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #1c1d22;
    font-variant: roboto;
    line-height: 1.5715;
    position: relative;
    font-size: 12px;
    background: #1c1d22;
    border-radius: 1px;
    text-align: center;
  }
  .ant-table table {
    width: 100%;
    border-radius: 2px 2px 0 0;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
  }
  .ant-table-thead > tr > th {
    background: #2b2a2e;
    position: relative;
    padding: 16px 16px;
    overflow-wrap: break-word;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
  }
  .ant-table-tbody > tr > td {
    position: relative;
    padding: 16px 16px;
    overflow-wrap: break-word;
    text-align: center;
    border: 1px solid #fff;
    background: #1c1d22;
    color: #fff;
  }
  .ant-table-cell > tr > td {
    background: #1c1d22;
    color: #fff;
  }
}

.batcher-nav-btn {
  color: #fff;
  background-color: #1c1d22;
  border: 2px solid #ff4d4f !important;
  text-align: center;
}

.batcher-nav-btn:active,
.batcher-nav-btn:focus,
.batcher-nav-btn:hover {
  color: #1c1d22;
  background-color: #ff4d4f;
  border: 2px solid #7b7b7e !important;
}
.batcher-col-focus {
  background-color: #ffffff;
  .ant-typography {
    color: #1c1d22;
  }
}

.ant-pro-basicLayout-content {
  margin-bottom: 80px;
}

.ant-drawer-header {
  background-color: #fff;
}
.ant-drawer-title {
  color: #ff4d4f;
}
.ant-drawer-body {
  background-color: #1c1d22;
  color: #fff;
  height: calc(100vh - 45px);
}

// @media (max-width: @screen-xs) {
//   .ant-pro-basicLayout-content {
//     margin: 0 0 80px 0 !important;
//   }

//   .batcher-nav-btn {
//     font-size: 11px !important;
//   }

//   .swap-btn {
//     font-size: 12px !important;
//   }
// }
