@import '~antd/es/style/variable.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

.ant-typography {
  color: #FFFFFF;
}

.ant-pro-top-nav-header-main {
  background-color: #1C1D22;
  border-bottom: 2px solid #7B7B7E;
}

.ant-layout {
  background-color: #1C1D22;
}

.ant-pro-footer-bar {
  background-color: #1C1D22;
  border-top: 2px solid #7B7B7E;
}

.batcher-header {
  .ant-col {
    text-align: initial !important;
    .ant-space {
      display: flex;
      padding: 10px 25px;
    }
  }
}

.batcher-content {
  .batcher-price {
    display: flex;
    padding: 25px;
    gap: 20px !important;
  }
}

.batcher-title {
  font-family: monospace;
}

.p-16 {
  font-size: 16px;
}

.p-13 {
  font-size: 13px;
}

.p-12 {
  font-size: 12px;
}

.exchange-button {
  display: block;
  font-size: 35px;
  color: #ff4d4f;
}

.mt-25 {
  margin-top: 25px;
}

.grid-padding {
  padding: 10px 25px;
}

.text-center {
  text-align: center;
}

.br-t {
  border-top: 2px solid #7B7B7E;
}

.br-l {
  border-left: 2px solid #7B7B7E;
}

.br-r {
  border-right: 2px solid #7B7B7E;
}

.br-b {
  border-bottom: 2px solid #7B7B7E;
}

.pd-25 {
  padding: 25px;
}

.pd-5 {
  padding: 5px;
}

.tx-align {
  text-align: center !important;
}

.grid-display {
  display: grid;
}