@import '~antd/es/style/variable.less';
.ant-drawer-header {
  background-color: #1C1D22;
  border: 2px solid #7B7B7E !important;
}

.ant-drawer-title {
  color: #fff;
}

.ant-drawer-body {
  background-color: #1C1D22;
  color: #fff;
  height: calc(100vh - 45px);
}

.batcher-nav-btn {
  color: #FFF;
  background-color: #1C1D22;
  border: 2px solid #ff4d4f !important;
  text-align: center;
  width: "5%";
}

.batcher-nav-btn:active,
.batcher-nav-btn:focus,
.batcher-nav-btn:hover {
  color: #1C1D22;
  background-color: #ff4d4f;
  border: 2px solid #7B7B7E !important;
}
.ant-radio-button-checked {
  color: #1C1D22;
  background-color: #ff4d4f;

}



@media (min-width: @screen-lg) {
  .batcher-action-outer {
    border-top: 2px solid #7B7B7E;
    border-left: 2px solid #7B7B7E;
    border-right: 2px solid #7B7B7E;

  padding: 25px;
  }
}

.batcher-action-items {
  display: flex;
  .ant-space {
    margin: auto;
    gap: 16px !important;
  }
}

@media (max-width: @screen-xs) {
  .batcher-action-outer {
    border-top: 2px solid #7B7B7E;

    .ant-space {
      gap: 6px !important;
      padding: 25px 0px;
    }
  }
}
