@import '~antd/es/style/variable.less';

@media (min-width: @screen-lg) {
  .batcher-action-outer {
    border-top: 2px solid #7B7B7E;
    border-left: 2px solid #7B7B7E;
    border-right: 2px solid #7B7B7E;

  padding: 25px;
  }
}

.batcher-action-items {
  display: flex;
  .ant-space {
    margin: auto;
    gap: 16px !important;
  }
}

@media (max-width: @screen-xs) {
  .batcher-action-outer {
    border-top: 2px solid #7B7B7E;

    .ant-space {
      gap: 6px !important;
      padding: 25px 0px;
    }
  }
}