:root {
    /* Browser default font-size is 16px, this way 1 rem = 10px */
    font-size: 80%;
    --sidebar-width: 250px;
    --page-padding: 15px;
    --content-max-width: 1200px;
    --menu-bar-height: 50px;
    --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
}

html {
    font-family: "Open Sans", sans-serif;
    color: var(--fg);
    background-color: var(--bg);
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}
