.gray-color {
  background-color: #CECCCC;
  color: #CECCCC;
}

.batcher-dot {
  font-size: 25px;
  color: #CECCCC;
}

.text-none {
  color: #1C1D22;
}

.batcher-stepper-gap {
  gap: 40px !important;
}